<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>

    <script type="text/javascript">
        function setCoordinates(lat, lon) {
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lon;
        }
    
        function buildDateTime(year, month, day) {
            return `${year}-${month}${day}T00Z`;
        }
    
        function getWeather() {
            const startY = document.getElementById("startYear").value;
            const startM = document.getElementById("startMonth").value;
            const startD = document.getElementById("startDay").value;
            const endY = document.getElementById("endYear").value;
            const endM = document.getElementById("endMonth").value;
            const endD = document.getElementById("endDay").value;
    
            document.getElementById("startDateTime").value = buildDateTime(startY, startM, startD);
            document.getElementById("endDateTime").value = buildDateTime(endY, endM, endD);
            return true;
        }
    </script>
</head>
<body>

<h1>Enter Latitude, Longitude, Start and End Time</h1>

<form method="post" action="/">
    <!-- ボタンを追加 -->
    <button type="button" onclick="setCoordinates('35.6895', '139.6917')">東京</button>
    <button type="button" onclick="setCoordinates('34.6937', '135.5023')">大阪</button>
    <button type="button" onclick="setCoordinates('35.1815', '136.9066')">名古屋</button>
    <br><br>


    Latitude: <input type="text" id="latitude" name="latitude" value="35.6895"><br>
    Longitude: <input type="text" id="longitude" name="longitude" value="139.6917"><br>
    Start Date (e.g., 2020-05-01): <input type="text" name="startDate" value="2020-05-01"><br>
    Start Time (e.g., 00:00): <input type="text" name="startTime" value="00:00"><br>
    End Date (e.g., 2020-10-01): <input type="text" name="endDate" value="2020-10-01"><br>
    End Time (e.g., 00:00): <input type="text" name="endTime" value="00:00"><br>
    <input type="submit" value="Get Weather">
</form>

<h1>Weather Data:</h1>
{% if weather_data %}
    <pre>
    {{ weather_data | tojson | safe }}
    </pre>
{% endif %}
{% if csv_data %}
    <h2>Download Data:</h2>
    <a href="/download_csv">Download CSV</a>
{% endif %}

</body>
</html>
