<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <script type="text/javascript">
        function setCoordinates(lat, lon) {
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lon;
        }
    </script>
</head>
<body>

<h1>Enter Latitude, Longitude, Start and End Time</h1>

<form method="post" action="/">
    <!-- ボタンを追加 -->
    <button type="button" onclick="setCoordinates('35.6895', '139.6917')">東京</button>
    <button type="button" onclick="setCoordinates('34.6937', '135.5023')">大阪</button>
    <button type="button" onclick="setCoordinates('35.1815', '136.9066')">名古屋</button>
    <button type="button" onclick="setCoordinates('', '')">選択しない</button>
    <br><br>

    Latitude: <input type="text" id="latitude" name="latitude"><br>
    Longitude: <input type="text" id="longitude" name="longitude"><br>
    Start Time (e.g., 2020-05-01T00Z): <input type="text" name="startDateTime"><br>
    End Time (e.g., 2020-10-01T00Z): <input type="text" name="endDateTime"><br>
    <input type="submit" value="Get Weather">
</form>

<h1>Weather Data:</h1>
{% if weather_data %}
    <pre>
    {{ weather_data | tojson | safe }}
    </pre>
{% endif %}

</body>
</html>
